{% extends "parent.html" %}
{% block myblock %}

<div class="container">
    <h1 class="jumbotron mt-4">CATEGORY LIST </h1>
    <!-- {{object_list}} -->
    <hr>
    <table class="table table-hover">
            
        {% for i in categories %}
        <tr>
            <td>{{i.id}}</td>
            <td><a href="{% url 'class_based_app:categorydetail' i.id %}    ">{{i.name}}</a></td>
            <td>{{i.uploaded_on }}</td>
        </tr>
    {% endfor %}
    </table>
    
</div>
{% endblock %}