<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    <h1>ABOUT US</h1>
    <p>WE PROVIDE INDUA'S BEST SERVICES</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, id delectus? Nisi nesciunt dolores mollitia magnam repudiandae tempora itaque ratione possimus accusantium minus quisquam commodi id facilis, consequatur deserunt dignissimos?</p>
    <hr>
    <h1><ins>OUR LATEST SERVICES</ins></h1>
    <ol> 
        <li>Service 1</li>
        <li>Service 2</li>
        <li>Service 3</li>
        <li>Service 4</li>
        <li>Service 5</li>
    </ol><hr>
    <h1>COLORS</h1>
    <h2>{{name}}</h2>
    {{col}}
    <table border="1" cellspacing="0" cellpadding="20" align="center">
        <tr>
            <th>COLOR NAME</th>
            <th>COLOR DEMO</th>
        </tr>
        {% for i in col %}
        <tr>
            <td>{{i}}</td>
            <td>
            <div style='height:50px;width:200px;background:{{i}}'></div>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>