<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <h1>I AM A CLASS BASED VIEW</h1> 
    <h2>{{greet}}</h2>
    <ol class="list-group">
        {% for i in songs %}
        <li class="list-group-item list-group-item-success list-group-item-action">
            <strong>{{i.song_name}} - {{i.artist_name}}</strong>
        </li>
        {% endfor %}
    </ol>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, architecto eum? Impedit labore cum provident magni excepturi modi adipisci, vitae laboriosam tempore saepe ipsum hic ab sint? Sint, doloremque repellat.</p>
</body>
</html>