{% extends 'parent.html' %}
{% load bootstrap4 %}
{% block myblock %}
<div class="container-fluid">
    <div class="row banner">
        <div class="col-md-12 text-center p-5 text-white" style="background:rgba(0,0,0,0.5);">
            <h1 class="p-5 display-4">Dashboard > Change Password </h1>
        </div>
    </div>

    <div class="row">
        <div class="card col-md-6 mx-auto p-5 shadow my-4">
            <form>
                {% csrf_token %}
                <div id="msz" class="alert"></div>
                <div class="form-group">
                    <label for="">Current Password</label>
                    <input type="text" name="current" class="form-control" placeholder="Enter Current Password">
                </div>
                <div class="form-group">
                    <label for="">New Password</label>
                    <input type="text" onkeyup="validate()" name="new" class="form-control password" placeholder="Enter New Password">
                </div>
                <div class="form-group">
                    <label for="">Confirm Password</label>
                    <input type="text" onkeyup="validate()" name="confirm" class="form-control password" placeholder="Re-enter New Password">
                </div>
                <input type="button" class="btn btn-info" value="Update Password" onclick="changepassword()">
            </form>
        </div>
    </div>

</div>
<script>
    function validate(){
        let pas = $("input[name='new']").val();
        let cpas = $("input[name='confirm']").val();
        if(pas==cpas){
            $('.password').removeClass('alert-danger').addClass('alert alert-success');
            $('input[type="submit"]').removeAttr('disabled');
        }else{
            $('.password').removeClass('alert-success').addClass('alert alert-danger');
            $('input[type="submit"]').attr('disabled', true);

        }
    }

    function changepassword(){
        var current_password = $('input[name="current"]').val();
        var new_password = $('input[name="new"]').val();
        var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        $.ajax({
            url:'change_password_ajax',
            type:'post',
            data:{currentpassword:current_password, csrfmiddlewaretoken:csrf_token, newpassword:new_password},
            success:function(response){
                if(response.status=="success"){
                    $("#msz").html("Password updated Successfully").removeClass("alert-danger").addClass("alert-success");
                }else{
                    $("#msz").html("Kindly re-check your current password!").removeClass("alert-success").addClass("alert-danger");

                }
            }
        })
    }
</script>
{% endblock %}
