{% extends "parent.html" %}
{% block myblock %}
<div class="container">
    <div class="row">
        <div class="col-md-6 shadow mx-auto my-5 p-4">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" name="fname" class="form-control" placeholder="Enter Full Name" required>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter Email Address" required>
                </div>
                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" name="con" class="form-control" placeholder="Enter Contact Number" pattern="[0-9]{9,}" title="Mobile should contain atleast 9 digits" required>
                </div>
                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" name="amt" class="form-control" placeholder="Enter Amount" min="50" required>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea name="desc" class="form-control" placeholder="Mention Your Purpose Here..."></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Donate Now!">
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <h1 class="display-4 text-center">Our Donors ({{all_donors|length}})</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Contact</td>
                        <td>Amount</td>
                        <td>Description</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in all_donors %}
                    <tr>
                        <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.contact}}</td>
                    <td>{{i.amount}}</td>
                    <td>{{i.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}