{% extends "parent.html" %}
{% block head %}
<style>
@media screen and (max-width:700px){
    .extraspace{
        margin-top:20px;
    }
    .register-banner{
        display: none;
    }
}
</style>
{% endblock %}
{% block myblock %}
{% if status %}
 <script>
     alert("{{status}}");
     window.location = "/login"
 </script>
{% endif %}
<div class="container my-5 shadow">
    <div class="row">
        <div class="col-md-6 banner register-banner p-0">
            <div class="text-center p-5 h-100" style="background:rgba(0,0,0,0.5);">
                <h1 class="p-5 text-white display-2">Login To Your Account</h1>
            </div>
        </div>
        <div class="col-md-6 p-5">
            <form action="" method="post">
                {% if error %}
                  <div class="alert alert-danger">{{error}}</div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username..." >
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Enter Password..." name="password">
                </div>

                <div class="form-group">
                   <div class="row">
                    <div class="col-md-8">
                        <small><input type="checkbox"> Remember Me</small>
                    </div>
                    <div class="col-md-4">
                        <small>
                            <a href="{% url 'registerpage' %}">Not a Member?</a>
                        </small>
                    </div>
                   </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Sign In" name="signinbtn">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}