{% extends "parent.html" %}
{% block head %}
<style>
@media screen and (max-width:700px){
    .extraspace{
        margin-top:20px;
    }
    .register-banner{
        display: none;
    }
}
</style>
{% endblock %}
{% block myblock %}
{% if status %}
 <script>
     alert("{{status}}");
     window.location = "/login"
 </script>
{% endif %}
<div class="container my-5 shadow">
    <div class="row">
        <div class="col-md-6 banner register-banner p-0">
            <div class="text-center p-5 h-100" style="background:rgba(0,0,0,0.5);">
                <h1 class="p-5 text-white display-2">Create Your Account</h1>
            </div>
        </div>
        <div class="col-md-6 p-5">
            <form action="" method="post">
                {% csrf_token %}
                <div id="result"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="Enter First Name..." name="first_name">
                        </div>
                        <div class="col-md-6 extraspace">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name..." name="last_name">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Username..." pattern="[A-Za-z0-9]{4,}" 
                    title="Username can contain letters, numbers and minimum charater must be 6" id="username" onkeyup="validate_user()">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email Address...">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Enter Password..." name="password">
                        </div>
                        <div class="col-md-6 extraspace">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control" placeholder="Re-enter Your Password..." name="confirm_password">
                        </div>
                    </div>
                </div>
                <div class="form-group" style="word-spacing: 10px;">
                    Gender: <span><input type="radio" name="gender" value="male"> <label>Male</label> </span>
                <span> <input type="radio" name="gender" value="female"> <label>Female</label> </span>
                <span> <input type="radio" name="gender" value="female"> <label>Others</label> </span>
                </div> <hr>
                <div class="form-group">
                   <div class="row">
                    <div class="col-md-8">
                        <small><input type="checkbox" required> I accept terms & condition of MyWeb</small>
                    </div>
                    <div class="col-md-4">
                        <small>
                            <a href="{% url 'loginpage' %}">Already a Member?</a>
                        </small>
                    </div>
                   </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Sign Up" id="signup">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function validate_user(){
        var un = document.getElementById("username").value;
        $.ajax({
            url:'{% url "check_if_user_exist" %}',
            type:"get",
            data:{user_name:un},
            success:function(data){
                if(data==1){
                    $("#signup").attr("disabled", true);
                    $("#result").html("<small>A user with this username already exists!</small>").addClass("alert alert-danger");
                }else{
                    $("#signup").attr("disabled", false);
                    $("#result").html("").removeClass("alert alert-danger")
                }
            }
        })
    }
</script>
{% endblock %}