<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Form</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <style>
        label{display:none;}
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="my-3">DJANGO FORM EXAMPLE</h1>
                <form action="" method="post">
                   <div class="alert alert-danger"> {{errors}}</div>
                    {% csrf_token %}
                    <!-- <table>
                    {{myform}}
                    </table> -->
                    <!-- {{myform.as_p}} -->
                    {% bootstrap_form myform %}
                    <input type="submit" value="Send Data" class="btn btn-success btn-block">
                </form>
            </div>
        </div>
    </div>
    
    
</body>
</html>