{% extends 'parent.html' %}
{% block myblock %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <h2 class="display-4 text-center">Send Email</h2>
                <hr class="w-25 mt-0" style="height:1px">
                <div class="card p-4 shadow">

                    <div class="alert {{color}}">{{status}}</div>
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">To</label>
                            <input type="text" class="form-control" name="to" placeholder="example: abcd@gmail.com">
                        </div>
                        <div class="form-group">
                            <label for="">Subject</label>
                            <input type="text" class="form-control" name="sub" placeholder="example: Invitation for an Event">
                        </div>
                        <div class="form-group">
                            <label for="">Message</label>
                            <textarea name="message" id="" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Send Message">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}