Hello World!
How are you?
<h1 style='color:red'>10 x 1 = <span style='color:green'>10</span></h1><h1 style='color:red'>10 x 2 = <span style='color:green'>20</span></h1><h1 style='color:red'>10 x 3 = <span style='color:green'>30</span></h1><h1 style='color:red'>10 x 4 = <span style='color:green'>40</span></h1><h1 style='color:red'>10 x 5 = <span style='color:green'>50</span></h1><h1 style='color:red'>10 x 6 = <span style='color:green'>60</span></h1><h1 style='color:red'>10 x 7 = <span style='color:green'>70</span></h1><h1 style='color:red'>10 x 8 = <span style='color:green'>80</span></h1><h1 style='color:red'>10 x 9 = <span style='color:green'>90</span></h1><h1 style='color:red'>10 x 10 = <span style='color:green'>100</span></h1>