
body{
            background-color: white;
        }
        .main{
            height:100%;width:90%;margin: auto;background-color: white;
        }
        .menu{
            width:100%;height:40px;line-height: 40px;background-color: white;
        }
        .left-menu{
            width:50%;float:left;
        }
        .right-menu li{
            display: inline-block;        
        }
        .right-menu{
            width:50%;float:left;
            word-spacing: 25px;
            text-transform: uppercase;
        }
        a{
            text-decoration: none;
            color:black;font-weight: bold;
        }
        .logo{
            text-indent: 30px;margin:10px;
        }
        .banner{
            height:400px;width:100%;float:left;
            background-color: #0a6cf5;
        }
        .right-banner{
            width:50%;
            float:left;
        }
        .left-banner{
            width: 40%;float:left;
            padding:5%;
            color:white;   
        }
        .banner-best{
            color:orange;font-size: 50px;text-transform: uppercase;
        }
        button{
            background-color: transparent;color:white;padding:10px;border:1px solid white;
            width: 150px;
        }
        .about{
            height:100%;width:100%;float:left;background-color: white;
        }
        .left-about{
            width:70%;float:left;padding:0% 4%;
        }
        .right-about{
            width:20%;float:left;background-color: #0a6cf5;
            text-align: center;
        }
        .services{
            width:100%;height:100%;float:left;text-align: center;
            background-color: #f2f2f2;margin-top:100px;
        }
        .s1{
            width:31%;background-color:#0a6cf5;display: inline-block;margin:1%;
            border-radius: 5px;color:white;
        }
        .s1 h4{
            color:orange;
        }
        .s1 h2{
            background:rgba(255,255,255,0.3);height:60px;line-height: 60px;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;

        }
        *{
            font-family: arial;
        }