body{
    background: url("../images/professional.jpg");
    background-size: cover;background-attachment: fixed;
}
form{
    width:40%;margin:auto;background: rgba(255,0,255,0.5);
    padding:50px;
}
.form-input{
    width:100%;height:30px; margin-top:10px;
    /* background: transparent;border:none;border-bottom:1px solid white; */
}
::placeholder{
    color:magenta;padding:10px;
}
input:focus{
    outline:none;
}
input[type="submit"]{
    background:green;border:none;color:white;text-transform: uppercase;
    border-radius: 20px;
}
input[type="submit"]:hover{
    box-shadow: 0px 0px 10px white;
}
h1{
    margin:0px;
}

a{
    color:white;
    margin-top:20px;
    display: inline-block;
}